body{
    overflow: hidden;
}

.main_border{
    position: relative;
    left: 35%;
    right: 40%;
    top: 20%;
    bottom: 60%;
}

.screen[type='text']{
    text-align: center;
}
/*Стилизация кнопка*/

/* + */
.\+ {
    font-family: "Lucida Console";
    text-align: center;
    display: inline-block;
    width: 50px;
    transform: translate(0px, 10px);
    padding: 8px;
    font-size: 15px;
    background-color: #A4217D;
    color: white;
    border: 0;
    transition-duration: 0.5s;
    box-shadow: 0px 6px #adadad;
    cursor: pointer;
}

.\+:hover {
    background-color: #c51b92
}

.\+:active {
    background-color: #ff00af;
    box-shadow: 0 5px #666;
    transform: translate(0, 0.9em)
}
/* - */
.\- {
    font-family: "Lucida Console";
    text-align: center;
    display: inline-block;
    width: 50px;
    transform: translate(0px, 10px);
    padding: 8px;
    font-size: 15px;
    background-color: #A4217D;
    color: white;
    border: 0;
    transition-duration: 0.5s;
    box-shadow: 0px 6px #adadad;
    cursor: pointer;
}

.\-:hover {
    background-color: #c51b92
}

.\-:active {
    background-color: #ff00af;
    box-shadow: 0 5px #666;
    transform: translate(0, 0.9em)
}
.\+ {
    font-family: "Lucida Console";
    text-align: center;
    display: inline-block;
    width: 50px;
    transform: translate(0px, 10px);
    padding: 8px;
    font-size: 15px;
    background-color: #A4217D;
    color: white;
    border: 0;
    transition-duration: 0.5s;
    box-shadow: 0px 6px #adadad;
    cursor: pointer;
}

.\+:hover {
    background-color: #c51b92
}

.\+:active {
    background-color: #ff00af;
    box-shadow: 0 5px #666;
    transform: translate(0, 0.9em)
}
/* / */
.\/ {
    font-family: "Lucida Console";
    text-align: center;
    display: inline-block;
    width: 50px;
    transform: translate(0px, 10px);
    padding: 8px;
    font-size: 15px;
    background-color: #A4217D;
    color: white;
    border: 0;
    transition-duration: 0.5s;
    box-shadow: 0px 6px #adadad;
    cursor: pointer;
}

.\/:hover {
    background-color: #c51b92
}

.\/:active {
    background-color: #ff00af;
    box-shadow: 0 5px #666;
    transform: translate(0, 0.9em)
}
.\* {
    font-family: "Lucida Console";
    text-align: center;
    display: inline-block;
    width: 50px;
    transform: translate(0px, 10px);
    padding: 8px;
    font-size: 15px;
    background-color: #A4217D;
    color: white;
    border: 0;
    transition-duration: 0.5s;
    box-shadow: 0px 6px #adadad;
    cursor: pointer;
}

.\*:hover {
    background-color: #c51b92
}

.\*:active {
    background-color: #ff00af;
    box-shadow: 0 5px #666;
    transform: translate(0, 0.9em)
}
/* = */

.\={
    font-family: "Lucida Console";
    text-align: center;
    width: 50px;
    transform: translate(0px, 10px);
    padding: 8px;
    font-size: 15px;
    background-color: rgba(158, 158, 158, 0.66);
    color: white;
    border: 0;
    transition-duration: 0.5s;
    box-shadow: 0px 6px #adadad;
    cursor: pointer;
}

.\=:hover {
    background-color: rgba(103, 103, 103, 0.66)
}

.\=:active {
    background-color: #545454;
    box-shadow: 0 5px #666;
    transform: translate(0, 0.9em)
}

/* () */

.\/:hover {
    background-color: #c51b92
}

.\(:active {
    background-color: #ff00af;
    box-shadow: 0 5px #666;
    transform: translate(0, 0.9em)
}
.\( {
    font-family: "Lucida Console";
    text-align: center;
    display: inline-block;
    width: 50px;
    transform: translate(0px, 10px);
    padding: 8px;
    font-size: 15px;
    background-color: #A4217D;
    color: white;
    border: 0;
    transition-duration: 0.5s;
    box-shadow: 0px 6px #adadad;
    cursor: pointer;
}

.\(:hover {
    background-color: #c51b92
}

.\(:active {
    background-color: #ff00af;
    box-shadow: 0 5px #666;
    transform: translate(0, 0.9em)
}
/*)*/

.\):hover {
    background-color: #c51b92
}

.\):active {
    background-color: #ff00af;
    box-shadow: 0 5px #666;
    transform: translate(0, 0.9em)
}
.\){
    font-family: "Lucida Console";
    text-align: center;
    display: inline-block;
    width: 50px;
    transform: translate(0px, 10px);
    padding: 8px;
    font-size: 15px;
    background-color: #A4217D;
    color: white;
    border: 0;
    transition-duration: 0.5s;
    box-shadow: 0px 6px #adadad;
    cursor: pointer;
}

.\):hover {
    background-color: #c51b92
}

.\):active {
    background-color: #ff00af;
    box-shadow: 0 5px #666;
    transform: translate(0, 0.9em)
}

/**/
.clear {
    font-family: "Lucida Console";
    position: relative;
    left: 330px;
    bottom: 129px;
    text-align: center;
    display: inline-block;
    width: 50px;
    height: 130px;
    transform: translate(0px, 10px);
    padding: 8px;
    font-size: 15px;
    background-color: rgba(158, 158, 158, 0.66);
    color: white;
    border: 0;
    transition-duration: 0.5s;
    box-shadow: 0px 6px #adadad;
    cursor: pointer;
}

.clear:hover {
    background-color: rgba(103, 103, 103, 0.66)
}

.clear:active {
    background-color: #545454;
    box-shadow: 0 5px #666;
    transform: translate(0, 0.9em)
}
/* Цифры */


.one:hover {
    background-color: #c51b92
}

.one:active {
    background-color: #ff00af;
    box-shadow: 0 5px #666;
    transform: translate(0, 0.9em)
}
.one {
    font-family: "Lucida Console";
    text-align: center;
    display: inline-block;
    width: 50px;
    transform: translate(0px, 10px);
    padding: 8px;
    font-size: 15px;
    background-color: #A4217D;
    color: white;
    border: 0;
    transition-duration: 0.5s;
    box-shadow: 0px 6px #adadad;
    cursor: pointer;
}

.one:hover {
    background-color: #c51b92
}

.one:active {
    background-color: #ff00af;
    box-shadow: 0 5px #666;
    transform: translate(0, 0.9em)
}
/**/
.two:hover {
    background-color: #c51b92
}

.two:active {
    background-color: #ff00af;
    box-shadow: 0 5px #666;
    transform: translate(0, 0.9em)
}
.two {
    font-family: "Lucida Console";
    text-align: center;
    display: inline-block;
    width: 50px;
    transform: translate(0px, 10px);
    padding: 8px;
    font-size: 15px;
    background-color: #A4217D;
    color: white;
    border: 0;
    transition-duration: 0.5s;
    box-shadow: 0px 6px #adadad;
    cursor: pointer;
}

.one:hover {
    background-color: #c51b92
}

.two:active {
    background-color: #ff00af;
    box-shadow: 0 5px #666;
    transform: translate(0, 0.9em)
}
/**/
.three:hover {
    background-color: #c51b92
}

.three:active {
    background-color: #ff00af;
    box-shadow: 0 5px #666;
    transform: translate(0, 0.9em)
}
.three {
    font-family: "Lucida Console";
    text-align: center;
    display: inline-block;
    width: 50px;
    transform: translate(0px, 10px);
    padding: 8px;
    font-size: 15px;
    background-color: #A4217D;
    color: white;
    border: 0;
    transition-duration: 0.5s;
    box-shadow: 0px 6px #adadad;
    cursor: pointer;
}

.three:hover {
    background-color: #c51b92
}

.three:active {
    background-color: #ff00af;
    box-shadow: 0 5px #666;
    transform: translate(0, 0.9em)
}
/**/
.four:hover {
    background-color: #c51b92
}

.four:active {
    background-color: #ff00af;
    box-shadow: 0 5px #666;
    transform: translate(0, 0.9em)
}
.four {
    font-family: "Lucida Console";
    text-align: center;
    display: inline-block;
    width: 50px;
    transform: translate(0px, 10px);
    padding: 8px;
    font-size: 15px;
    background-color: #A4217D;
    color: white;
    border: 0;
    transition-duration: 0.5s;
    box-shadow: 0px 6px #adadad;
    cursor: pointer;
}

.four:hover {
    background-color: #c51b92
}

.four:active {
    background-color: #ff00af;
    box-shadow: 0 5px #666;
    transform: translate(0, 0.9em)
}
/**/
.five:hover {
    background-color: #c51b92
}

.five:active {
    background-color: #ff00af;
    box-shadow: 0 5px #666;
    transform: translate(0, 0.9em)
}
.five {
    font-family: "Lucida Console";
    text-align: center;
    display: inline-block;
    width: 50px;
    transform: translate(0px, 10px);
    padding: 8px;
    font-size: 15px;
    background-color: #A4217D;
    color: white;
    border: 0;
    transition-duration: 0.5s;
    box-shadow: 0px 6px #adadad;
    cursor: pointer;
}

.five:hover {
    background-color: #c51b92
}

.five:active {
    background-color: #ff00af;
    box-shadow: 0 5px #666;
    transform: translate(0, 0.9em)
}
/**/
.six:hover {
    background-color: #c51b92
}

.six:active {
    background-color: #ff00af;
    box-shadow: 0 5px #666;
    transform: translate(0, 0.9em)
}
.six {
    font-family: "Lucida Console";
    text-align: center;
    display: inline-block;
    width: 50px;
    transform: translate(0px, 10px);
    padding: 8px;
    font-size: 15px;
    background-color: #A4217D;
    color: white;
    border: 0;
    transition-duration: 0.5s;
    box-shadow: 0px 6px #adadad;
    cursor: pointer;
}

.six:hover {
    background-color: #c51b92
}

.six:active {
    background-color: #ff00af;
    box-shadow: 0 5px #666;
    transform: translate(0, 0.9em)
}
/**/
.seven:hover {
    background-color: #c51b92
}

.seven:active {
    background-color: #ff00af;
    box-shadow: 0 5px #666;
    transform: translate(0, 0.9em)
}
.seven {
    font-family: "Lucida Console";
    text-align: center;
    display: inline-block;
    width: 50px;
    transform: translate(0px, 10px);
    padding: 8px;
    font-size: 15px;
    background-color: #A4217D;
    color: white;
    border: 0;
    transition-duration: 0.5s;
    box-shadow: 0px 6px #adadad;
    cursor: pointer;
}

.seven:hover {
    background-color: #c51b92
}

.seven:active {
    background-color: #ff00af;
    box-shadow: 0 5px #666;
    transform: translate(0, 0.9em)
}
/**/
.eight:hover {
    background-color: #c51b92
}

.eight:active {
    background-color: #ff00af;
    box-shadow: 0 5px #666;
    transform: translate(0, 0.9em)
}
.eight{
    font-family: "Lucida Console";
    text-align: center;
    display: inline-block;
    width: 50px;
    transform: translate(0px, 10px);
    padding: 8px;
    font-size: 15px;
    background-color: #A4217D;
    color: white;
    border: 0;
    transition-duration: 0.5s;
    box-shadow: 0px 6px #adadad;
    cursor: pointer;
}

.eight:hover {
    background-color: #c51b92
}

.eight:active {
    background-color: #ff00af;
    box-shadow: 0 5px #666;
    transform: translate(0, 0.9em)
}
/**/
.nine:hover {
    background-color: #c51b92
}

.nine:active {
    background-color: #ff00af;
    box-shadow: 0 5px #666;
    transform: translate(0, 0.9em)
}
.nine{
    font-family: "Lucida Console";
    text-align: center;
    display: inline-block;
    width: 50px;
    transform: translate(0px, 10px);
    padding: 8px;
    font-size: 15px;
    background-color: #A4217D;
    color: white;
    border: 0;
    transition-duration: 0.5s;
    box-shadow: 0px 6px #adadad;
    cursor: pointer;
}

.nine:hover {
    background-color: #c51b92
}

.nine:active {
    background-color: #ff00af;
    box-shadow: 0 5px #666;
    transform: translate(0, 0.9em)
}
/**/
.noll:hover {
    background-color: #c51b92
}

.noll:active {
    background-color: #ff00af;
    box-shadow: 0 5px #666;
    transform: translate(0, 0.9em)
}
.noll {
    font-family: "Lucida Console";
    text-align: center;
    display: inline-block;
    width: 50px;
    transform: translate(0px, 10px);
    padding: 8px;
    font-size: 15px;
    background-color: #A4217D;
    color: white;
    border: 0;
    transition-duration: 0.5s;
    box-shadow: 0px 6px #adadad;
    cursor: pointer;
}

.noll:hover {
    background-color: #c51b92
}

.noll:active {
    background-color: #ff00af;
    box-shadow: 0 5px #666;
    transform: translate(0, 0.9em)
}


.screen {
    font-family: "Lucida Console";
    position: relative;
    right: 6px;
    min-width: 29.2%;
    margin: 5px;
    padding: 5px;
    min-height: 30px;
    border-radius: 5px;
    box-shadow: 0px 3px #adadad;
    border: #9b9b9b 1px solid;
    outline-style: none;
}

.screen:hover {
    outline: none;
    box-shadow: 0px 5px #adadad;
    border: #7a7a7a 1px solid;
    transition-duration: 0.5s;
    transform: translate(2px);
}

.screen:focus {
    outline: none;
    box-shadow: 0px 5px #adadad;
    border: #7a7a7a 1px solid;
    transition-duration: 0.5s;
    transform: translate(2px);
}

h1 {
    font-family: "Lucida Console";
    position: relative;
    left: 2.5%;
    right: 60%;
    font-size: 29px;
    color: black;
}
.by{
    font-family: "Lucida Console";
    position: relative;
    left: 10.5%;
    padding: 10px;
    font-size: 16px;
    color: black;
}
.clear_step {
    font-family: "Lucida Console";
    text-align: center;
    display: inline-block;
    width: 50px;
    transform: translate(0px, 10px);
    padding: 8px;
    font-size: 15px;
    background-color: rgba(158, 158, 158, 0.66);
    color: white;
    border: 0;
    transition-duration: 0.5s;
    box-shadow: 0px 6px #adadad;
    cursor: pointer;
}

.clear_step:hover {
    background-color: rgba(103, 103, 103, 0.66)
}

.clear_step:active {
    background-color: #545454;
    box-shadow: 0 5px #666;
    transform: translate(0, 0.9em)
}